@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #684bb1;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.conteiner {
  max-width: 1300px;
}
.header img {
  /* height: 32px; */
  width: 200px;
}
.header {
  margin-bottom: 104px;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section-left {
  width: 800px;
  height: 500px;
  margin-right: 60px;
}
.hero-section-right {
  margin-bottom: 110px;
}
.hero-section-right h1 {
  height: 120px;
  width: 487px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 24px;
}
.hero-section-right p {
  height: 81px;
  width: 520px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 37px;
}
.hero-section-right button {
  height: 56px;
  width: 200px;
  background: #ffffff;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
  border: none;
  border-radius: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #684bb1;
}
.hero-section-right button:hover {
  background: #e880e8;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  height: 45px;
  width: 45px;
  border: 1.17647px solid #ffffff;
  border-radius: 50%;
}
.footer div:hover {
  border: 1.17647px solid #ff52c1;
  color: #ff52c1;
}
.fb-icon:hover i {
  color: #ff52c1 !important;
}

.twitter-icon:hover i {
  color: #ff52c1 !important;
}

.instagram-icon:hover i {
  color: #ff52c1 !important;
}
@media screen and (max-width: 1440px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .conteiner {
    height: 800px;
    width: 375px;
  }
  .header {
    margin-bottom: 70px;
  }
  .header img {
    width: 120px;
  }
  .hero-section {
    display: block;
    margin: 0 auto;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-section-left {
    margin-right: 0px;
  }
  .hero-section-left img {
    height: 200px;
    width: 300px;
  }
  .hero-section-right h1 {
    height: 72px;
    width: 280px;

    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
  }
  .hero-section-right p {
    height: 120px;
    width: 304px;

    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
  }
}
